/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    /* 디폴트로는 인라인 요소로 만들어져 있으나, 이를 블록으로 활용하겠다. 라는 뜻 */
    display: block;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: royalblue
}

header .inner {
    background-color: orange;
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

header .logo {
    /* absolute를 썼다면 상위 요소 .inner에 position을 확인하는 습관! */
    position: absolute;
    /* 배치의 기준: 위아래 방향 정렬 => top, bottom
        ㄴ auto를 통해 자동으로 계산하도록 설정
     */
    top: 0;
    bottom: 0;

    left: 0;

    margin: auto;
    display: none;
}

header .sub-menu {

}

header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    /* 수직 요소를 수평으로 바꿔줌 */
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color: #000;
}

header .sub-menu .search {
    background-color: red;
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    position: absolute;
}